body{
  background-image: url(background.jpg);
  background-size: cover;
}

.container{
  width: 1000px;
  margin: auto;
  background-color: rgba(0,0,0,0.4);
  padding: 100px;
  margin-top: 40px;
  margin-bottom: 100px;
  border-radius: 3%;
}

header{
  text-align: center;
}

.logo{
  width: 300px;
}

.logo-text{
  color: #00ff00;
}
.row{
  background-color: #00ff00;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.monopattino{
   margin-top: 35px;
}

.nomemonopattino{
  color: white;
  font-size: 30px;
}

.descrizione-monopattino{
  color: white;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 20px;
}

.medium-charge{
  width: 400px;
  height: 40px;
  background-color: #ff9966;
  border-radius: 3%;
}

.full-charge{
  width: 400px;
  height: 40px;
  background-color: #00b300;
  border-radius: 3%;
}

.low-charge{
  width: 400px;
  height: 40px;
  background-color: #cc0033;
  border-radius: 3%;
}
